.week_days {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(3)
    font-size: 30px;
    position: absolute;
    left: 400px;
    bottom: 250px;
    border: 2px solid black;
}

button {
    position: absolute;
    left: 1407px;
    font-size: 17px;
}

body {
    background-color: cyan;
}

h1 {
    color: white;
    position: absolute;
    top: 20px;
    left:400px;
    font-size: 60px;
    -webkit-text-stroke: 1px black;
}

ol {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2)
    width: ;
    font-size: 30px;
    position: absolute;
    left: 450px;
    bottom: 250px;
    border: 2px solid black;
}

.creator_page_title {
    color: white;
    position: absolute;
    top: 20px;
    left:550px;
    font-size: 60px;
    -webkit-text-stroke: 1px black;
}

.creator_description {
    color: black;
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 25px;
}

.go_back_button {
    color: black;
    position: absolute;
    top: 5px;
    left: 1350px;
    font-size: 25px;
}