{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        Список дел на неделю
    </title>
</head>
<body>

<h1 class="mainPageTitle">
    Мой список дел на неделю
</h1>

<ol class="week_days">
    <li>
        <a href="monday">Понедельник</a>
    </li>
    <li>
        <a href="tuesday">Вторник</a>
    </li>
    <li>
        <a href="wednesday">Среда</a>
    </li>
    <li>
        <a href="thursday">Четверг</a>
    </li>
    <li>
        <a href="friday">Пятница</a>
    </li>
    <li>
        <a href="saturday">Суббота</a>
    </li>
    <li>
        <a href="sunday">Воскресенье</a>
    </li>
</ol>
<a href="creator">
    <button type="button">About Creator</button>
</a>
</body>
</html>