{% load static %}
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        Список дел на неделю
    </title>
</head>
<body>
<div class="mainPageTitle">
    <h1>
        Мой список дел на неделю
    </h1>
</div>
<div class="week_days_list">
    <ol>
        <li>
            <a href="monday">Понедельник</a>
        </li>
        <li>
            <a href="tuesday">Вторник</a>
        </li>
        <li>
            <a href="wednesday">Среда</a>
        </li>
    </ol>
</div>
<a href="creator">
    <button type="button">About Creator</button>
</a>
</body>
</html>